@charset "UTF-8";
body {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    display: block;
    background-color: #f5f5f5;
}

div {
    display: block;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#wrap {
    width: 800px;
    height: 100vh;
    margin: 0 auto;
    background: #fff;
    font-family: "Malgun Gothic","맑은 고딕","돋움",dotum,"굴림",gulim,Arial,sans-serif,"Apple SD Gothic Neo";
    font-size: 13px;
    letter-spacing: -0.2px;
}

#container {
    width: 631px;
    margin: 0 auto;
}

#header {
    padding: 95px 0 0;
    position: relative;
    font-size: 0;
}

#header .logo {
    height: 30px;
}

#header .logo img {
    display: inline-block;
    width: 126px;
    height: 30px;
    background-position: 0 0;
}

#header .logo-txt {
    display: inline-block;
    margin-left: 12px;
    font-size: 24px;
    letter-spacing: -0.05em;
    color: #333;
    font-family: "Malgun Gothic","맑은 고딕";
}

.check_top {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 32px;
}

.check_top .title {
    font-size: 20px;
    color: #0f0f0f;
    font-weight: bold;
    margin-bottom: 12px;
    letter-spacing: -1.2px;
}

.check_top .txt {
    font-size: 15px;
    letter-spacing: -0.56px;
}

.check_content {
    display: block;
    background: #fafafa;
    padding: 35px 120px;
    margin: 0;
}

form {
    display: block;
    margin: 0;
    padding: 0;
}

.check_content .chk_form {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.check_content .chk_form + .chk_form {
    margin-top: 26px;
}

.check_content .chk_txt {
    display: table-cell;
    width: 57px;
    font-size: 15px;
    color: #333;
    letter-spacing: -0.9px;
    font-weight: bold;
}

.check_content .chk_info {
    display: table-cell;
    font-size: 15px;
    color: #333;
    padding-left: 16px;
}

.check_content input {
    font-size: 15px;
    width: 307px;
    height: 48px;
    line-height: 48px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    color: #333;
    display: block;
    padding-left: 16px;
    box-sizing: border-box;
    text-align: left;
    background: #fff;
}

.btn_wrap {
    width: 440px;
    margin: 43px auto 0;
}

.btn_submit {
    display: block;
    float: left;
    width: 216px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.cancel {
    background: #fff;
    border: 1px solid #bfbfbf;
    color: #333;
}

.accept {
    background: #2964e0;
    border: 1px solid #2964e0;
    color: #fff;
    margin-left: 8px;
}